#################################
# OS FILES
#################################

.DS_Store
Thumbs.db
desktop.ini

#################################
# GIT / TEMP
#################################

*.log
*.tmp
*.temp
*.bak
*.old

#################################
# IDE FILES
#################################

.vscode/
.idea/

*.suo
*.user
*.VC.db
*.sdf
*.opensdf

#################################
# PYTHON CACHE
#################################

__pycache__/
*.pyc
*.pyo

#################################
# ARCHIVES
#################################

*.zip
*.rar
*.7z
*.tar
*.gz

#################################
# BUILD / CACHE
#################################

build/
cache/
temp/
tmp/

#################################
# PACK OUTPUT (BU REPODA OLMAMALI)
#################################

*.epk
*.eix

#################################
# CLIENT BINARIES
#################################

*.exe
*.dll
*.pdb